In [2]:
import pandas as pd
import datetime as dt

In [3]:
df_trip = pd.read_csv('./trip.csv', error_bad_lines = False)
df_trip.head()

b'Skipping line 50794: expected 12 fields, saw 20\n'

,trip_id,starttime,stoptime,bikeid,tripduration,from_station_name,to_station_name,from_station_id,to_station_id,usertype,gender,birthyear
0,431,10/13/2014 10:31,10/13/2014 10:48,SEA00298,985.935,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1960.0
1,432,10/13/2014 10:32,10/13/2014 10:48,SEA00195,926.375,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1970.0
2,433,10/13/2014 10:33,10/13/2014 10:48,SEA00486,883.831,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1988.0
3,434,10/13/2014 10:34,10/13/2014 10:48,SEA00333,865.937,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Female,1977.0
4,435,10/13/2014 10:34,10/13/2014 10:49,SEA00202,923.923,2nd Ave & Spring St,Occidental Park / Occidental Ave S & S Washing...,CBD-06,PS-04,Member,Male,1971.0

In [4]:
avg_duration = df_trip["tripduration"].mean()
avg_durarion

1178.2956753399776

In [12]:
common_age = dt.datetime.now().year - int(df_trip["birthyear"].value_counts().idxmax())
common_age

34

In [6]:
weather_data = pd.read_csv('./weather.csv', parse_dates = ["Date"])
weather_data.head()

,Date,Max_Temperature_F,Mean_Temperature_F,Min_TemperatureF,Max_Dew_Point_F,MeanDew_Point_F,Min_Dewpoint_F,Max_Humidity,Mean_Humidity,Min_Humidity,...,Mean_Sea_Level_Pressure_In,Min_Sea_Level_Pressure_In,Max_Visibility_Miles,Mean_Visibility_Miles,Min_Visibility_Miles,Max_Wind_Speed_MPH,Mean_Wind_Speed_MPH,Max_Gust_Speed_MPH,Precipitation_In,Events
0,2014-10-13,71,62.0,54,55,51,46,87,68,46,...,29.79,29.65,10,10,4,13,4,21,0.00,Rain
1,2014-10-14,63,59.0,55,52,51,50,88,78,63,...,29.75,29.54,10,9,3,10,5,17,0.11,Rain
2,2014-10-15,62,58.0,54,53,50,46,87,77,67,...,29.71,29.51,10,9,3,18,7,25,0.45,Rain
3,2014-10-16,71,61.0,52,49,46,42,83,61,36,...,29.95,29.81,10,10,10,9,4,-,0.00,Rain
4,2014-10-17,64,60.0,57,55,51,41,87,72,46,...,29.78,29.73,10,10,6,8,3,-,0.14,Rain

In [20]:
precipitation = weather_data.groupby('month')['Precipitation_In'].mean()
precipitation

month
1     0.143548
2     0.168421
3     0.156935
4     0.051333
5     0.012419
6     0.030500
7     0.012097
8     0.018226
9     0.041000
10    0.189000
11    0.187833
12    0.236290
Name: Precipitation_In, dtype: float64

In [25]:
median = precipitation.median()
median

0.09744086021505376

In [22]:
df_station = pd.read_csv('./station.csv')
avg_bike = df_station["install_dockcount"].mean()
avg_bike

17.586206896551722

In [26]:
mod = df_station[["modification_date","install_dockcount"]].dropna()
mod_over_all = mod["install_dockcount"].sum() / df_station["install_dockcount"].sum()
if mod_over_all < 1 :
    print("lose bikes")

lose bikes

In [11]:
def test():

    def assert_equal(actual,expected):
        assert actual == expected, f"Expected {expected} but got {actual}"

    assert_equal(avg_trip_dur, 1178.2956753399776)
    assert_equal(common_age, 34)
    assert_equal(avg_bike, 17.586206896551722)
    assert_equal(precip_median, 0.0)
    assert_equal(weather_data.iloc[9].month, 10)
    assert_equal(precipitation_avg[9], 0.04100000000000001)
    assert_equal(diff, 0.29215686274509806)

    print("Success!!!")

test()

Success!!!